<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link href="/qcby/favicon.ico" rel="shortcut icon" />
    <style>
        @font-face {
            font-family: CrazyIt;
            src: url("/qcby/Blazed.ttf") format("TrueType");
        }
    </style>
</head>
<body>
    <div style="width: 500px;margin: 200px auto;">
        <span style="font-family:'华文行楷';font-size:90pt;">
            欢迎使用考试系统
        </span>
    </div>
</body>
<script src="/qcby/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '/qcby/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','cookie','jquery'],function () {
        let $ = layui.jquery;
        let cookie = layui.cookie;
        let session = $.cookie('the_cookie');
        if(session == null || session == ""){
            layer.alert("您还未登录，请先登录",{icon:5},function () {
                location.href="/qcby/views/user/login.html";
            });
        }

    });
</script>

</html>